<header class="text-gray-400 bg-gray-900 body-font">
  <div
    class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
  >
    <a
      href="/"
      class="flex title-font font-medium items-center text-white mb-4 md:mb-0"
    >
      <% if(user == null){ %>
      <img
        src="https://static.vecteezy.com/system/resources/previews/004/608/408/original/chicken-mascot-for-e-sport-logo-template-vector.jpg"
        class="w-10 h-10 text-white rounded-full"
      />
      <span class="ml-3 text-xl">PickupTaSoeur</span>
      <% } else{ %>

      <img
        src="<%= user.avatar.large %>"
        class="w-10 h-10 text-white rounded-full"
      />
      <span class="ml-3 text-xl">Hi <%=user.username%></span>
      <% } %>
    </a>

    <nav
      class="md:ml-auto flex flex-wrap items-center text-base justify-center"
    ></nav>
    <a
      href="<% if(user == null){%> /authenticate <% }else{ %> /logout <%}%>"
      class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0"
    >
      <% if(user == null){%> login with steam <% }else{ %> logout <%}%>
      <svg
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="w-4 h-4 ml-1"
        viewBox="0 0 24 24"
      >
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </a>
  </div>
</header>
