<div>
  <div id="warn"></div>
  <% if(user == null || steamid == null){ %> <% } else{ %>
  <div class="flex flex-col items-center">
    <button
      class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mb-8"
      id="room"
    >
      create room
    </button>
  </div>
  <% } %>
  <div class="flex flex-col items-center">
    <ul></ul>
  </div>
</div>
