<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/style/style.css" />
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
    <script defer src="js/app.js"></script>
    <title>PickupTaSoeur</title>
  </head>
  <body class="bg-gray-900">
    <%- include('../layouts/header') %>
    <main class="h-[450px] text-gray-400 bg-gray-900 body-font">
      <div class="flex flex-col items-center justify-center">
        <% if(user == null){ %> <% } else{ %> <% } %>
      </div>
      <%- include('../components/createroom.ejs') %>
    </main>
    <%- include('../layouts/footer') %>
  </body>
</html>
