<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/style/style.css" />
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
    <script defer src="../js/room.js"></script>
    <title>PickupTaSoeur Room</title>
  </head>
  <body class="bg-gray-900 body-font">
    <%- include('../layouts/header') %>
    <main class="bg-gray-900 body-font">
      <h1>ROOM page</h1>
      <div class="flex flex-col items-center justify-center">
        <% if(user == null){ %> <% } else{ %>
        <p class="text-center">T'on steam id est <%=user.steamid%></p>
        <% } %>
      </div>
      <p id="room-id">Loading...</p>
    </main>
    <%- include('../layouts/footer') %>
  </body>
</html>
