<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/style/style.css" />
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
    <script defer src="../js/room.js"></script>
    <title>PickupTaSoeur Room</title>
  </head>
  <body class="bg-gray-900 body-font">
    <%- include('../layouts/header') %>
    <main class="bg-gray-900 body-font">
      <div class="flex flex-col items-center justify-center">
        <% if(user == null || steamid == null){ %>
        <section class="text-gray-400 bg-gray-900 body-font">
          <div class="container px-5 py-24 mx-auto">
            <div
              class="lg:w-3/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto"
            >
              <h1
                class="flex-grow sm:pr-16 text-2xl font-medium title-font text-white"
              >
                please login to join to join room
              </h1>
              <a
                href="/authenticate"
                class="flex-shrink-0 text-white bg-red-500 border-0 py-2 px-8 focus:outline-none hover:bg-red-700 rounded text-lg mt-10 sm:mt-0"
              >
                Login
              </a>
            </div>
          </div>
        </section>
        <% } else{ %>
        <h1 class="text-center text-white font-bold text-2xl">Room ID :</h1>
        <p class="text-center text-white font-bold" id="room-id">Loading...</p>
        <h1 class="text-center text-white font-bold">
          Your steam id: <%= steamid %>
        </h1>
        <button
          class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
          id="leaveroom"
        >
          LEAVE ROOM
        </button>
        <% } %>
      </div>
    </main>
    <%- include('../layouts/footer') %>
  </body>
</html>
